# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Hardhat
cache/
artifacts/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Images
*.jpg
*.png
!docs/donation/*.jpg
!docs/donation/*.png
